*.dat
*.txt
*.png
temp*
*.o
*.gif
bfield_sor*
*.csv
gp.*
gslfit/*
*.log
nanoflanntest
fieldmap
genfield.sh
symplecti*
short_temp*
positions
pointcloud_example.cpp
odex*
gslfit3d*
bFieldFiles/
bfield_map
bfield_matrix
efield_sort_closed
efield_trap_open
efield_trap_open2
efieldcolumnshead
